
/* --------------------------------------------------------------------------
Base styles:
----------------------------------------------------------------------------- */
body {
	background-image: url("../img/backgrounde.jpg");
	cursor: url("../wreath.png"), pointer;
}
main {
	margin-left: 200px;
	margin-right: 200px;
	background-image: url("../img/christmas-tree.jpg");
	text-align: center;
}
nav {
	background-image: url("../img/glitter-backgrounde.jpg");
	font-family: "Comic Sans MS";
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 2;
}
nav h1 {
	display: inline-block;
}
nav a {
	text-decoration: none;
	color: white;
}
@keyframes bounce {
	0%, 10%, 30%, 70%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	10% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}

	70% {
		-webkit-transform: translateY(-80px);
		transform: translateY(-80px);
	}

	80% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
}

nav h1:hover {
	animation: bounce 2s;
	text-decoration: underline;
}
#counter {
	color: red;
	background-color: darkgreen;
	height: 75px;
	margin-top: 10px;
	font-size: 40px;
	font-family: 'Berkshire Swash', cursive;
	padding-top: 30px;
}
#counter:hover {
	height: 310px;
	color: darkgreen;
	background-color: red;
	font-size: 80px;
	padding-top: 50px;
}
#holiday-message {
	margin-top: 20px;
	padding: 5px 15px 8px 15px;
	background:red;
	color: white;
	font-family: 'Berkshire Swash', cursive;
	font-size: 24px;
}
#holiday-message img {
	width: 20px;
}
h2 {
	color: white;
	background-color: rgba(255, 255, 255, 0.233);
	font-family: "Comic Sans MS";
	padding-left: 20px;
	padding-right: 20px;
}
#video-gallery {
	height: 725px;
	display: grid;
	grid-template-columns: 450px, 450px;
	overflow: auto;
}
#wish-list {
	height: 300px;
	text-align: center;
	background-color: #81F7E5;
	margin-top: 25px;
	padding-top: 5px;
	padding-bottom: 10px;
}
#wish-list:hover {
	background-color: lime;
}
form {
	font-family: "Comic Sans MS";
	color: green;
	font-weight: bold;
	font-size: 40px;
}
#form-input {
	margin-top: 15px;
}
form marquee {
	color: fuchsia;
	margin-top: 15px;
}
form marquee:hover {
	color: red;
}
#wishlist:hover {
	width: 50px;
}
#submit:hover {
	animation-name: spin;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
#wishlist {
	height: 150px;
	border-radius: 5px;
}
#naughtynice {
	height: 150px;
	background-image: url("../img/candycane.jpg");
	margin-top: 50px;
	padding-top: 75px;
}
#naughtynice h2 {
	color: crimson;
	background-color: rgba(255, 255, 255, 0.616);
}
#naughtynice button {
	font-family: 'Berkshire Swash', cursive;
	border-radius: 5px;
}
section {
	background: linear-gradient(#e66465, #090c33);
	color: white;
	font-family: 'Berkshire Swash', cursive;
	opacity: 0.5;
}
footer {
	color: beige;
	font-size: 20px;
	padding-bottom: 50px;
	font-family: "Comic Sans MS";
}
footer div {
	width: 400px;
	margin: 0 auto;
}
.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	background-color: rgba(0, 0, 0, .75);
	display: none;
	justify-content: center;
	align-items: center;
}
.modal div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.modal h2 {
	background-color: none;
	color: red;
}
.snowflake {
	color: #fff;
	font-size: 3em;
	font-family: Arial;
	text-shadow: 0 0 1px #000;
  }
  #snowflake {
	  display: none;
  }
  .show {
	display: inline-block;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
  @-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}
  @keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
  @keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Responsive Styles */
@media only screen and (max-width: 780px) {
	main {
		margin-left: 75px;
		margin-right: 75px;
	}
}
@media only screen and (max-width: 425px) {
	main {
		margin-left: 15px;
		margin-right: 15px;
	}
}